@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
}

#root {
  font-family: 'Roboto', sans-serif;
}

body.modal-open {
  overflow: hidden;
}

/* BODY STYLING */

.date-selector-container{
  display: flex;
  flex-direction: row;
}

.date-selector-element{
  margin-right: 1rem;
}