@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
:root {
}

#root {
  font-family: 'Signika', sans-serif;
}

body.modal-open {
  overflow: hidden;
}

/* BODY STYLING */

.date-selector-container{
  display: flex;
  flex-direction: row;
}

.date-selector-element{
  margin-right: 1rem;
}

.total-price-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 100;
}

.total-price{
  font-size: 1.2rem;
  padding-left: 0.5rem;
  cursor: pointer;
}

.tooltip-text{
  font-size: 0.6rem;
  z-index: 10;
  position: absolute;
  color: black;
}

.room-info-item-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.room-info-item-content{
  padding-left: 0.5rem;
}

.gallery-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #9AFCFC;
  width: 800px
}

.email-inputs-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email-input-item{
  width: 20rem
}

#email-input{
  margin-bottom: 20px;
}

.tooltip {
  background: #A4FFFF;
  color: white;
  padding: 0.4rem;
  border-radius: 5px;
  width: fit-content;
  border-radius: 4px;
  font-weight: 300;
  z-index: 10;
  height: 0.6rem;
  padding-bottom: 0.5rem;
}

.tooltip.vat-tooltip{
  width: 3rem;
}

.tooltip.num-of-rooms-tooltip{
  width: 3rem;
  height: 1.5rem
}

.tooltip.bed-types-tooltip{
  width: 2.5rem
}

.tooltip.occupancy-tooltip{
  width: 2.7rem;
}

.tooltip.price-per-person-per-night-tooltip{
  width: 3rem;
  height: 2.1rem;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 0.8rem;
  height: 0.5rem;
  background: #A4FFFF;
  z-index: 1;
  bottom: 0px;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}